<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="robot_ip" default="172.16.0.2"/>
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />
  <xacro:include filename="$(find franka_description)/robots/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm safety_distance="0.03" arm_id="$(arg arm_id)"/>
  <xacro:panda_arm_ros2_control arm_id="$(arg arm_id)" robot_ip="$(arg robot_ip)"/>
</robot>
